:root {
    /* Light */
    /* --base: #ffffff;         
    --bg-card: #ffffff;    
    --accent: #0d9488;    
    --accent-hover: #0dd1c1;
    --text-primary: #000000;    
    --text-secondary: #475569;  
    --text-accent: #0d9488;
    --accent-glow: rgba(37, 99, 235, 0.12);
    --border-color: #E2E8F0; */

    /* Dark */
    --base: #0f172a;           
    --bg-card: #1e293b;        
    --accent: #2dd4bf;         
    --accent-hover: #5eead4;   
    
    --text-primary: #f8fafc;   
    --text-secondary: #94a3b8; 
    --text-accent: #2dd4bf;   
    
    --accent-glow: rgba(45, 212, 191, 0.15);
    --border-color: #334155;

    /* Font */
    --font-heading: "Inter", sans-serif;
    --font-body: "Roboto", sans-serif;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-base: 16px;

    /* Spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    /* Border radius */
    --border-radius-circle: 100px;
}

html, body {
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    color: var(--text-primary);
    background-color: var(--base);
    max-width: 100%;
    line-height: 1.6;
    overflow-x: hidden;
    padding-left: var(--spacing-xl);
    padding-right: var(--spacing-xl);
}



/* Typo */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
}

h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 1.8em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.5em;}
h6 {font-size: 1.2em}

a {
    text-decoration: none;
    color: var(--accent);
}

section {
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
}

.text-left {
    text-align: left;
}

.text-color-primary {
    color: var(--text-primary);
}

.text-color-second {
    color: var(--text-secondary);
}

.text-color-accent {
    color: var(--accent)
}

.font-size-small { font-size: 1em;}
.font-size-medium {font-size: 1.5em}
.font-size-large {font-size: 2em}
.font-size-very-large {font-size: 2.5em}


/* Layout */
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.title {
    color: var(--text-primary);
    font-weight: var(--font-weight-bold);
    text-align: center;
}


.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-no-wrap { flex-wrap: nowrap; }
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-left {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: var(--spacing-md);
}

.flex-gap-xl {gap: 32px}
.flex-gap-large {gap: 24px;}
.flex-gap-medium {gap: 18px;}
.flex-gap-small {gap: 12px}

.width-100  { width: 100%; }
.width-90   { width: 90%; }
.width-80   { width: 80%; }
.width-70   { width: 70%; }
.width-60   { width: 60%; }
.width-50   { width: 50%; }
.width-40   { width: 40%; }
.width-33   { width: 33.3333%; }
.width-25   { width: 25%; }
.width-20   { width: 20%; }
.width-15   { width: 15%; }
.width-10   { width: 10%; }

.padding-0 { padding: 0; }
.margin-0 { margin: 0; }

/* Layout - Containers */
.container--narrow  {width: 1200px; max-width: 100%;}
.container--medium  {max-width: 1440px;}
.container--full    {max-width: 100%;}

/* Button */
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-xl);
    border: solid 1px var(--accent);
    border-radius: 8px;
    cursor: pointer;
    font-weight: var(--font-weight-medium);
    transition: all 0.2s ease;
}

.text-highlight {
    color: var(--accent);
}

/* Component */

/* Component Tag*/
.tags {
    display: flex;
    gap: 12px;
    font-size: calc(var(--font-size-base) * 0.8);
    padding-left: 0;
    margin: 0;
}

.tag-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 4px 8px;
    border: solid 1px var(--accent);
    gap: 12px;
    min-width: 50px;
    font-weight: var(--font-weight-normal);
    border-radius: var(--border-radius-circle);
    box-shadow: 0 2px 4px rgba(241, 234, 234, 0.6);
}

.tag-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.tag-item:hover {
    background-color: var(--accent);
    color: var(--base);
}

.tag-item-highlight {
    background-color: var(--accent);
    border-radius: 6px;
}

.tag-item-highlight img, 
.tag-item-highlight span {
    filter: brightness(0) invert(1);
}

.tag-item-highlight:hover img, 
.tag-item-highlight:hover span {
    filter: initial;
}

.tag-item img {
    width: 24px;
    height: 24px;
}

@media  screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }

    .width-mobile-100  { width: 100%; }
    .width-mobile-50   { width: 50%; }
    .width-mobile-40   { width: 40%; }


    :root {
        /* Spacing */
        --spacing-xs: 4px;
        --spacing-sm: 6px;
        --spacing-md: 8px;
        --spacing-lg: 10px;
        --spacing-xl: 12px;
    }
}



/* Component block card */
/* Block Container */
.block-card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.block-card-item {
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 12px;
    padding: var(--spacing-xl);
    min-width: 300px;
    width: 40%;
    max-width: 100%;
    box-shadow: 0 10px 15px -5px color-mix(in srgb, var(--accent) 20%, transparent);
}

.block-card-item:hover {
    box-shadow: 0 10px 25px -5px color-mix(in srgb, var(--accent) 40%, transparent);
    transform: translateY(-8px);
}