#about {
    max-height: 100%;
}
#about p {
    text-align: justify;
}

.about-container {
    display: flex;
    gap: 24px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.portfolio-name {
    font-size: clamp(2rem, 4vw, 4rem);
    margin: 0;
}

section#about {
    padding: 24px 0;
    margin-top: 120px;
}

h5.portfolio-description-subtitle {
    font-size: clamp(1rem, 1vw, 2rem);
    margin: 0;
}

.portfolio-description {
    color: var(--text-color-secondary);
}

.portfolio-description strong {
    color: var(--text-color-primary);
}

ul.about-list-skills {
    color: var(--text-color-secondary);
}

ul.about-list-skills > li::marker {
    color: var(--color-primary);
}

@media  screen and (max-width: 767px) {
    section#about {
        margin-top: 80px;
    }
}