section#contact {
    margin: 0;
}
#contact-info-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

#contact-info::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--text-color-secondary);
    margin-inline: auto;
}

#contact-info-list li {
    padding-bottom: 12px;
}


#contact-info-list li:last-child {
    padding-bottom: 0;
}

#contact-info-list li:hover {
    transform: translateY(-4px);
    transition: transform 0.25s ease;
    cursor: pointer;

    svg {
        fill: var(--color-accent);
    }
}

.tag-icon svg {
    width: 24px;
    height: 24px;
    display: block;
    fill: var(--text-color-secondary, #0d9488);
}

.tag-icon-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact .tag-item a {
    color: var(--color-primary) !important;
}

#contact .tag-item:hover {
    background-color: initial;
    color: inherit;
    filter: none;
    box-shadow: none;
}

@media screen and ( max-width: 768px) {
    .block-card-item {
        width: 100%;
        padding: 18px 18px 6px 18px;
    }

}
@media screen and ( max-width: 1280px) {
    #contact {
        display: none;
    }
}