#projects {
    padding: 60px 0;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.project-card {
    width: 100%;
    padding: 32px;
    background: var(--color-base-hover);
    list-style: none;
    transition: transform .3s ease;
}

.project-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-body {
    flex: 1;
}

.project-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-card ul li {
    color: white;
}

/*
Header block
 */
.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-header svg {
    fill: var(--text-color-secondary);
    transition: fill .2s ease;
}

.project-header svg:hover,
.project-action-link:hover svg {
    fill: var(--color-primary);
}

.project-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

/* Card Body */

.project-card h3,
.project-title {
    padding: 0;
    margin-top: 0;
    color: var(--color-secondary);
    transition: color .2s ease, fill .2s ease;
}

.project-description {
    color: var(--text-color-secondary);
    text-align: justify;
    transition: color .2s ease;
}


/* Platforms (Badges) */
ul.project-platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding-left: 0;
    margin: 12px 0;
}

li.project-platform-item {
    display: flex;
    justify-content: center;
    width: fit-content;
    min-width: 80px;
    padding: 6px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    transition: transform .3s ease, color .2s ease, border-color .2s ease;
}

li.project-platform-item:hover {
    transform: translateY(-2px);
}

/* Tags */
.project-tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
}

li.project-tag {
    width: fit-content;
    padding: 12px 12px 12px 0;
    overflow: hidden;
    color: var(--text-color-primary);
    white-space: nowrap;
    border-radius: 12px;
    letter-spacing: 0;
    transition: color .2s ease;
}

.project-card:hover {
    z-index: 1;
    transform: translateY(-12px);
}

.project-card:hover .project-title {
    color: var(--color-primary);
    fill: var(--color-primary);
}

.project-card:hover .project-header svg {
    fill: var(--color-primary);
}

.project-card:hover .project-description {
    color: var(--text-color-primary);
}

.project-card:hover .project-tag {
    color: var(--text-color-secondary);
}

.project-card:hover li.project-platform-item {
    color: var(--color-accent);
    border-color: var(--color-accent);
}

/* Responsive and Breakpoint */
@media (max-width: 1280px) {
    .projects-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .projects-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}